*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
     display: flex;
     flex-direction: row-reverse;
     width: 84%;
     margin: auto;
     padding: 20px 0;
}
.top ul li {
    text-decoration: none;
    list-style: none;
    margin: 10px 20px;
}
table{
    position: absolute;
    left: 10%;
    top: 35%;
    border-collapse: collapse;
    width: 80%;
    height: 40%;
    border: 2px solid black;
    box-shadow: 2px 2px 12px black,-1px -1px 8px rgb(191, 204, 11);
}
tr{
    transition: all .2s ease-in;
    cursor: pointer;
}
th,td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black;
}
#header{
    background-color: orange;
    color: azure;

}
tr:hover{
    background-color: rgb(255, 223, 41);
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgb(250, 253, 35),-1px -1px 8px greenyellow ;
}
h1{
    text-align: center;
    color: orange;
    
}