*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
     display: flex;
     flex-direction: row-reverse;
     width: 84%;
     margin: auto;
     padding: 20px 0;
}
.top ul li {
    text-decoration: none;
    list-style: none;
    margin: 10px 20px;
}
.details{
    margin-left: 8%;
    margin-top: 15%;
}

.details h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
    
}

.details p{
    color: #555;
    line-height: 22px;
}

.skills{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}




